body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
ol {
  list-style: decimal;
  padding-left: 20px;
}
ul {
  list-style: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Arial", "SimHei", "Microsoft YaHei", "STXihei", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "WenQuanYi Micro Hei", sans-serif;
  background: #fff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: #333;
  -webkit-overflow-scrolling: touch;
}
::selection {
  background: rgba(147,181,224,0.6);
  color: #fff;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", serif, serif;
  font-weight: bold;
}
h1,
h2,
h3 {
  display: block;
}
h1 {
  font-size: 1.6rem;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif, "Arial", "SimHei", "Microsoft YaHei", "STXihei", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "WenQuanYi Micro Hei", sans-serif;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.15rem;
}
h4,
h5,
h6 {
  font-size: 1rem;
}
a {
  text-decoration: none;
  outline-width: 0;
  color: #258fb8;
  outline: none;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.inner {
  width: 1000px;
  margin: 0 auto;
}
.hide {
  display: none;
}
@media screen and (max-width: 1040px) {
  .inner {
    width: 100%;
  }
}
#container {
  min-height: 100%;
}
#container #mobile-nav {
  display: none;
}
#container #mobile-nav .overlay {
  height: 110px;
  position: absolute;
  width: 100%;
  background: #4d4d4d;
}
#container #mobile-nav .overlay.fixed {
  position: fixed;
  height: 42px;
  z-index: 99;
}
#container #mobile-nav #header {
  padding: 10px 0 0 0;
}
#container #mobile-nav #header .profilepic {
  display: block;
  position: relative;
  z-index: 100;
}
#container #mobile-nav #header .header-menu {
  height: auto;
  margin: 10px;
}
#container #mobile-nav #header .header-menu ul {
  text-align: center;
  cursor: default;
}
#container #mobile-nav #header .header-menu li {
  display: inline-block;
  margin: 3px;
}
#container .left-col {
  background: rgba(255,255,255,0.85);
  width: 300px;
  position: fixed;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  height: 100%;
  overflow-y: auto;
}
#container .left-col .overlay {
  width: 100%;
  height: 180px;
  background-color: #000;
  position: absolute;
  opacity: 0.7;
}
#container .left-col .intrude-less {
  width: 76%;
  text-align: center;
  margin: 112px auto 0;
}
#container .left-col li:hover {
  background: none;
  font-weight: bold;
}
#container .mid-col {
  position: absolute;
  right: 0;
  min-height: 100%;
  background: rgba(255,255,255,0.8);
  left: 300px;
  width: auto;
}
@media screen and (max-width: 800px) {
  #container .left-col {
    display: none;
  }
  #container .mid-col {
    left: 0;
  }
  #container #header .header-nav {
    position: relative;
  }
  #container #header .header-menu {
    line-height: 1.3;
    min-height: 3rem;
  }
  #container .header-author.fixed {
    position: fixed;
    top: -8px;
    width: 100%;
    color: #ddd;
  }
  #container .header-author.fixed a {
    color: #fff;
  }
  #container .overlay .slider-trigger {
    position: absolute;
    z-index: 101;
    bottom: 0;
    left: 0;
    width: 42px;
    height: 42px;
  }
  #container .overlay .slider-trigger:hover {
    background: #444;
  }
  #container .overlay .slider-trigger:before {
    color: #ddd;
    content: "\f00b";
    font: 16px FontAwesome;
    width: 16px;
    height: 16px;
    margin-left: 9px;
    margin-top: 14px;
    display: block;
  }
  #container .article-header {
    border-left: none;
    padding: 0;
    border-bottom: 1px dotted #ddd;
  }
  #container .article-header h1 {
    margin-bottom: 2px;
  }
  #container #header .header-subtitle {
    padding: 0 3em;
    font-size: 1em;
  }
  #container .article-info-index.article-info {
    padding-top: 10px;
    margin: 0;
    border-top: 1px solid #ddd;
  }
  #container .article-info-post.article-info {
    margin: 0;
    padding-top: 10px;
    border: none;
  }
  #container #viewer-box .viewer-box-l {
    font-size: 14px;
  }
  #container .article {
    margin: 0.625rem 10px;
  }
  #container .article .article-entry {
    padding-left: 0;
    padding-right: 0;
  }
  #container .article .article-entry .highlight {
    padding: 0.35em 0.6em;
  }
  #container .article .article-title {
    display: block;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  #container .article .article-meta {
    display: none;
  }
  #container .article-inner {
    padding: 12px;
  }
  #container .archive-article-inner .article-meta {
    top: 0;
    margin-top: 0.5em;
  }
  #container .archives .archive-article {
    padding: 0;
  }
  #container .archives .archive-article-date {
    margin-right: 0;
  }
  #container .archives .article-info {
    display: none;
  }
  #container .archive-article-inner .article-meta .archive-article-date,
  #container .share {
    padding: 3px 10px;
  }
  #container .duoshuo {
    padding: 0 13px;
  }
  #container #disqus_thread {
    padding: 0 13px;
  }
  #container #mobile-nav {
    display: block;
  }
  #container #page-nav .extend {
    opacity: 1;
  }
  #container #page-nav {
    margin-top: 1em;
  }
  #container #page-nav .page-number {
    margin-bottom: 1.5em;
  }
  #container .instagram .open-ins {
    left: 2px;
    top: -30px;
    color: #aaa;
  }
  #container .info-on-right {
    float: initial;
  }
  #container .archives-wrap {
    margin: 10px 10px 0px;
    padding: 10px;
    padding-right: 0;
  }
  #container .archives-wrap .archive-year-wrap {
    position: relative;
    padding: 0 0 0 0;
  }
  #container .archives-wrap .archive-year-wrap a {
    padding: 0 0 0 0;
  }
  #container .archives-wrap h1 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
  }
  #container .archives .archive-article {
    padding: 10px 0;
    margin-left: 0;
  }
  #container #footer .footer-left {
    float: initial;
    margin-bottom: 0.5em;
  }
  #container #footer .footer-right {
    float: initial;
    margin-bottom: 1em;
  }
  #container #footer .visit {
    margin: 0;
  }
  #container .article-category::before {
    display: none;
  }
  #container .article-tag::before {
    display: none;
  }
  #container .article-meta time:before {
    display: none;
  }
  #container .visit {
    margin-top: 1em;
  }
  #container #tocButton {
    z-index: 100;
    position: fixed;
    left: 0.5em;
    top: auto; /*In order to cover style in article.styl*/
    bottom: 10px;
    padding: 0.2em 0.4em;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-style: outset;
    background: rgba(255,255,255,0.7);
    font-size: 1em;
    font-weight: bold;
    color: #808080;
  }
  #container #tocButton:hover {
    color: #88acdb;
    font-size: 1em;
  }
  #container .toc-article {
    display: none;
    z-index: 99;
    left: 0;
    top: 38%;
    bottom: 1em;
    height: auto;
    max-height: 58%;
    width: none;
    width: auto;
    min-width: 7em;
    max-width: 61.8%;
    overflow: auto;
    margin-left: 0;
    padding: 10px;
    padding-left: 0;
    -webkit-border-radius: 2.8%;
    border-radius: 2.8%;
    background: none;
    font-size: 1em;
    line-height: 1.25em;
  }
  #container .toc-article .toc-title {
    display: none;
  }
  #container .toc-article .toc {
    padding: 0.5em;
  }
  #container .toc-article ol {
    margin: 0;
    padding: 0.5em;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,0.75);
  }
  #container .toc-article ol ol {
    padding: 0.1em 0;
    padding-left: 1.2em;
  }
  #container .toc-article a {
    color: #767676;
  }
  #container .copyright {
    width: 90%;
    padding: 0.5em 0.8em;
  }
  #container .scroll {
    right: 1.2em;
  }
  #container .scroll li {
    font-size: 1.7em;
  }
  #container .hide-labels {
    z-index: 100;
    position: fixed;
    left: 0.5em;
    top: auto;
    bottom: 10px;
    padding: 0.2em 0.4em;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-style: outset;
    opacity: 0.9;
    background: rgba(255,255,255,0.8);
    font-weight: bold;
    color: #808080;
  }
  #container #post-nav-button {
    display: none;
  }
  #container .post-list {
    visibility: hidden;
  }
  #container .ua {
    display: none !important;
  }
  #container .copyright {
    font-size: 16px;
  }
  #container .copyright .copy-path {
    display: none;
  }
}
.header-author {
  text-align: center;
  margin: 13px 0;
  font-family: Georgia, "Times New Roman", serif, serif;
  font-size: 30px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#header {
  width: 100%;
}
#header a {
  color: #696969;
}
#header a:hover {
  color: #b0a0aa;
}
#header .profilepic {
  text-align: center;
  display: block;
  border: 5px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #88acdb;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
}
#header .profilepic img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  -ms-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-delay: 0.3s;
}
#header .profilepic:hover {
  background: #fff;
  border: 5px solid #88acdb;
  -webkit-box-shadow: 0 0 1.5em #88acdb;
  box-shadow: 0 0 1.5em #88acdb;
  -webkit-animation: profilepic 0.15s linear infinite alternate;
  -moz-animation: profilepic 0.15s linear infinite alternate;
  -ms-animation: profilepic 0.15s linear infinite alternate;
  animation: profilepic 0.15s linear infinite alternate;
  -webkit-animation: profilepic 0.15s linear infinite alternate;
}
@-moz-keyframes profilepic {
  0% {
    right: 4px;
    top: 1x;
  }
  100% {
    right: 0px;
    top: -1px;
  }
}
@-webkit-keyframes profilepic {
  0% {
    right: 4px;
    top: 1x;
  }
  100% {
    right: 0px;
    top: -1px;
  }
}
@-o-keyframes profilepic {
  0% {
    right: 4px;
    top: 1x;
  }
  100% {
    right: 0px;
    top: -1px;
  }
}
@keyframes profilepic {
  0% {
    right: 4px;
    top: 1x;
  }
  100% {
    right: 0px;
    top: -1px;
  }
}
#header .header-subtitle {
  text-align: center;
  color: #999;
  font-size: 0.875rem;
  line-height: 1.75;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#header .header-menu {
  font-weight: 550;
  line-height: 1.75rem;
  font-family: inherit;
  cursor: pointer;
  text-transform: uppercase;
  float: none;
  min-height: 5.25rem;
  max-height: 8.75rem;
  overflow: auto;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
#header .header-menu li {
  cursor: default;
}
#header .header-menu li a {
  font-size: 0.875rem;
  min-width: 300px;
}
#header .switch-area {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 260px;
  font-size: 0.875rem;
}
#header .switch-area .switch-wrap {
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in;
  -ms-transition: -ms-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  position: relative;
}
#header .turn-left {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
#header .header-nav {
  width: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in;
  -ms-transition: -ms-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}
#header .switch-part {
  width: 100%;
  position: absolute;
}
#header .switch-part1 {
  left: 0;
}
#header .switch-part2 {
  left: 100%;
  top: 20px;
  overflow-y: auto;
  max-height: 260px;
  font-size: 0.75rem;
}
#header .switch-part3 {
  left: 200%;
  line-height: 1.6;
  overflow-y: auto;
  max-height: 260px;
}
#header .switch-part3 .switch-friends-link {
  display: inline-block;
  margin-right: 9px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
}
#header .switch-part3 .switch-friends-link:hover {
  background: #88acdb;
  color: #fff;
}
#header .switch-part4 {
  left: 300%;
  text-align: left;
  line-height: 30px;
}
#header .header-nav .social {
  margin-top: 10px;
  text-align: center;
  font-family: Arial;
}
#header .header-nav .social a {
  width: 37px;
  height: 37px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 2px 6px;
  vertical-align: middle;
  font-size: 24.42px;
  line-height: 37px;
  text-align: center;
  color: #fff;
  background: #6f7170;
  opacity: 0.75;
  -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.3);
  box-shadow: 1px 2px 2px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.3);
}
#header .header-nav .social a:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#header .header-nav .social .新浪微博 {
  background: url("/img/新浪微博.png") center no-repeat #ecc260;
  -webkit-background-size: 80%;
  -moz-background-size: 80%;
  background-size: 80%;
}
#header .header-nav .social .知乎 {
  background: url("/img/知乎.png") center no-repeat #0078d8;
  -webkit-background-size: 90%;
  -moz-background-size: 90%;
  background-size: 90%;
}
#header .header-nav .social .豆瓣 {
  background: url("/img/豆瓣.png") center no-repeat #06c611;
  -webkit-background-size: 88%;
  -moz-background-size: 88%;
  background-size: 88%;
}
#header .header-nav .social .V2EX {
  background: url("/img/V2EX.png") center no-repeat #e4cdb4;
  -webkit-background-size: 78%;
  -moz-background-size: 78%;
  background-size: 78%;
}
#header .header-nav .social .TiddlyWiki {
  background: url("/img/TiddlyWiki.png") center no-repeat #6283dd;
  -webkit-background-size: 82%;
  -moz-background-size: 82%;
  background-size: 82%;
}
#header .header-nav .social .简书 {
  background: url("/img/简书.png") center no-repeat #e99888;
  -webkit-background-size: 82%;
  -moz-background-size: 82%;
  background-size: 82%;
}
#header .header-nav .social .SegmentFault {
  background: url("/img/SegmentFault.png") center no-repeat #018f56;
  -webkit-background-size: 80%;
  -moz-background-size: 80%;
  background-size: 80%;
}
#header .header-nav .social .网易云音乐 {
  background: url("/img/网易云音乐.png") center no-repeat #e51e02;
  -webkit-background-size: 80%;
  -moz-background-size: 80%;
  background-size: 80%;
}
#header .header-nav .social .虾米音乐 {
  background: url("/img/虾米音乐.png") center no-repeat #ff6a00;
  -webkit-background-size: 82%;
  -moz-background-size: 82%;
  background-size: 82%;
}
#header .header-nav .social .CSDN {
  background: url("/img/CSDN.png") center no-repeat #f00;
  -webkit-background-size: 82%;
  -moz-background-size: 82%;
  background-size: 82%;
}
#header .header-nav .social .博客园 {
  background: url("/img/博客园.png") center no-repeat #217ed4;
  -webkit-background-size: 95%;
  -moz-background-size: 95%;
  background-size: 95%;
}
#header .header-nav .social .Plunker {
  background: url("/img/Plunker.png") center no-repeat #000;
  -webkit-background-size: 90%;
  -moz-background-size: 90%;
  background-size: 90%;
}
#header .header-nav .social .GitHub {
  background: url("//cdn.bootcss.com/logos/0.2.0/github-octocat.svg") no-repeat #fff;
  -webkit-background-size: 90%;
  -moz-background-size: 90%;
  background-size: 90%;
  background-position: 50% 100%;
}
#header .header-nav .social .CodePen {
  background: url("//cdn.bootcss.com/logos/0.2.0/codepen-icon.svg") no-repeat #000;
  -webkit-background-size: 70%;
  -moz-background-size: 70%;
  background-size: 70%;
  background-position: 50% 50%;
}
#header .header-nav .social .RSS {
  background: #ef7522;
}
#header .header-nav .social .RSS::before {
  content: '\f09e';
}
#header .header-nav .social .Google {
  background: #c83d20;
}
#header .header-nav .social .Google::before {
  content: '\f1a0';
}
#header .header-nav .social .Twitter {
  background: #55cff8;
}
#header .header-nav .social .Twitter::before {
  content: '\f099';
}
#header .header-nav .social .LinkedIn {
  background: #005a87;
}
#header .header-nav .social .LinkedIn::before {
  content: '\f0e1';
}
#header .header-nav .social .Email {
  background: #6fc0e4;
}
#header .header-nav .social .Email::before {
  content: '\f003';
}
#header .header-nav .social .Facebook {
  background: #3b5998;
}
#header .header-nav .social .Facebook::before {
  content: '\f09a';
}
#header .header-nav .social .QQ {
  background: #1cbcef;
}
#header .header-nav .social .QQ::before {
  content: '\f1d6';
}
#header .header-nav .social .微信 {
  background: #8cdc49;
}
#header .header-nav .social .微信::before {
  content: '\f1d7';
}
#header .header-nav .social .PayPal {
  background: #03a4e4;
}
#header .header-nav .social .PayPal::before {
  content: '\f1ed';
}
#header .header-nav .social .StackOverflow {
  background: #f48024;
}
#header .header-nav .social .StackOverflow::before {
  content: '\f16c';
}
#header .header-nav .social .Instagram {
  background: #bab0a6;
}
#header .header-nav .social .Instagram::before {
  content: '\f16d';
}
#header .header-nav .social .Flickr {
  background: #0365c8;
}
#header .header-nav .social .Flickr::before {
  content: '\f16e';
}
#header .header-nav .social .reddit {
  background: #0278d1;
}
#header .header-nav .social .reddit::before {
  content: '\f281';
}
#header .header-nav .social .Medium {
  background: #00ab6b;
}
#header .header-nav .social .Medium::before {
  content: '\f23a';
}
#header .header-nav .social .Tumblr {
  background: #3a5976;
}
#header .header-nav .social .Tumblr::before {
  content: '\f173';
}
#header .header-nav .social ._500px {
  background: #0099e5;
}
#header .header-nav .social ._500px::before {
  content: '\f26e';
}
.duoshuo {
  padding: 0 40px;
}
#disqus_thread {
  padding: 0 40px;
}
.search {
  width: 68%;
  height: 18px;
  margin-top: 1px;
  padding: 0;
  font-family: inherit;
  border: 2px solid transparent;
  border-bottom: 2px solid #d3d3d3;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  opacity: 0.2;
  background: none;
}
.search:hover {
  border: 2px solid #d3d3d3;
  opacity: 1;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#scroll {
  right: 0;
}
.scroll {
  z-index: 999;
  position: fixed;
  top: 61.8%;
  text-align: center;
  line-height: 42px;
}
.scroll a {
  display: block;
  width: 29px;
  height: 42px;
  font-size: 28px;
  background: rgba(215,216,215,0.4);
}
.scroll a .fa {
  color: rgba(255,255,255,0.8);
}
.scroll a:hover {
  background: rgba(147,181,224,0.3) !important;
}
.scroll a:hover .fa {
  color: #fff;
}
.scroll a:not(:last-child) {
  border-bottom: 1px solid #fff;
}
.hide-labels {
  position: fixed;
  left: 378px;
  top: 30px;
  padding: 1px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: 0.9em;
  font-weight: bold;
  color: #666;
  background: none;
  opacity: 0.32;
  -webkit-appearance: none;
}
.hide-labels:hover {
  color: #88acdb;
  opacity: 1;
}
#post-nav-button {
  left: 300px;
  top: 61.8%;
}
#post-nav-button a {
  border-bottom-color: transparent;
  background: none;
  cursor: pointer;
}
#post-nav-button a .fa-times {
  display: none;
}
.post-list {
  display: none;
  text-align: left;
  font-size: 0.9em;
  line-height: 1.3em;
  list-style: decimal;
}
.post-list li {
  margin: 0.4em 0 0.1em 0.7em;
}
.post-list li a {
  color: #808080;
}
.post-list li a:hover {
color
  text-decoration: none;
}
.post-list li:hover a {
  color: #88acdb;
}
.pace .pace-progress {
  background: #77b6ff;
  -webkit-box-shadow: 0 0 10px rgba(119,182,255,0.7);
  box-shadow: 0 0 10px rgba(119,182,255,0.7);
}
.article-entry ul > li,
.share,
.article-category::before,
.article-tag::before,
.article-meta time:before {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.archives-wrap {
  position: relative;
  margin: 0 30px;
  padding-right: 1.5em;
  border-bottom: 1px solid #eee;
  background: #fff;
}
.archives-wrap:first-child {
  margin-top: 30px;
}
.archives-wrap:last-child {
  margin-bottom: 80px;
}
.archives-wrap .archive-year-wrap {
  line-height: 35px;
  width: 200px;
  position: absolute;
  padding-top: 20px;
  font-size: 1.8em;
}
.archives-wrap .archive-year-wrap a {
  color: #666;
  font-weight: bold;
  padding-left: 48px;
}
.archives {
  position: relative;
}
.archives .article-info {
  border: none;
}
.archives .archive-article {
  margin-left: 160px;
  padding: 0.5em 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #fff;
  position: relative;
}
.archives .archive-article:first-child {
  border-top: 1em;
  padding-top: 20px;
}
.archives .archive-article:last-child {
  border-bottom: none;
}
.archives .archive-article-title {
  font-size: 1.125rem;
  color: #333;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
.archives .archive-article-title:hover {
  color: #657b83;
}
.archives .archive-article-title span {
  display: block;
  color: #a8a8a8;
  font-size: 12px;
  line-height: 14px;
  height: 7px;
  padding-left: 2px;
}
.archives .archive-article-title span:before {
  display: inline-block;
  content: "“";
  font-family: serif;
  font-size: 30px;
  float: left;
  margin: 4px 4px 0 -12px;
  color: #c8c8c8;
}
.archive-article-inner .archive-article-header {
  position: relative;
}
.archive-article-inner .article-meta {
  position: relative;
  float: right;
  margin-top: -10px;
  color: #555;
  background: none;
  text-align: right;
  width: auto;
}
.archive-article-inner .article-meta .article-date time {
  color: #aaa;
}
.archive-article-inner .article-meta .archive-article-date,
.archive-article-inner .article-meta .article-tag-list {
  margin-right: 1em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  color: #666;
  font-size: 14px;
}
.archive-article-inner .article-meta .archive-article-date {
  cursor: default;
  font-size: 0.875rem;
  margin-bottom: 5px;
  margin-top: -10px;
}
.archive-article-inner .article-meta .archive-article-date time:before {
  content: "\f073";
  color: #999;
  position: relative;
  margin-right: 10px;
  font: 16px FontAwesome;
}
.archive-article-inner .article-meta .article-category:before {
  float: left;
  margin-top: 1px;
  left: 15px;
}
.archive-article-inner .article-meta .article-category .article-category-link {
  width: auto;
  max-width: 83px;
  padding-left: 10px;
}
.archive-article-inner .article-meta .article-tag-list {
  margin-top: 0px;
}
.archive-article-inner .article-meta .article-tag-list:before {
  left: 15px;
}
.archive-article-inner .article-meta .article-tag-list .article-tag-list-item {
  display: inline-block;
  width: auto;
  max-width: 83px;
  padding-left: 8px;
  font-size: 12px;
}
.archives-wrap {
  background: rgba(255,255,255,0.4);
}
.archives-wrap .archives {
  background: transparent;
}
.body-wrap {
  margin-bottom: 126px;
  overflow: hidden;
}
.article {
  margin: 30px;
  margin-bottom: 5px;
  position: relative;
  background: rgba(255,255,255,0.45);
  -webkit-transition: all 0.2s ease-in;
}
.article.show {
  visibility: visible;
  -webkit-animation: cd-bounce-1 0.6s;
  -moz-animation: cd-bounce-1 0.6s;
  -webkit-animation: cd-bounce-1 0.6s;
  -moz-animation: cd-bounce-1 0.6s;
  -ms-animation: cd-bounce-1 0.6s;
  animation: cd-bounce-1 0.6s;
}
.article.hidden {
  visibility: hidden;
}
.article img {
  max-width: 100%;
  margin: 0.5em auto;
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(1);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.01);
  }
  100% {
    -moz-transform: scale(1);
  }
}
.article-index {
  margin-left: 200px;
  padding: 15px 0;
  margin-right: 75px;
}
.article-index .brief {
  display: block;
  color: #a8a8a8;
  font-size: 12px;
  line-height: 14px;
  height: 7px;
  padding-left: 2px;
}
.article-index .brief:before {
  display: inline-block;
  content: "“";
  font-family: serif;
  font-size: 30px;
  float: left;
  margin: 4px 4px 0 -12px;
  color: #c8c8c8;
}
.article-title {
  color: #696969;
  margin-left: 0px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 20px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
.article-title:hover {
  color: #b0a0aa;
}
.article-inner {
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 0.5em;
  word-break: break-word;
  -webkit-box-shadow: 3px 2px 8px rgba(0,0,0,0.07);
  box-shadow: 3px 2px 8px rgba(0,0,0,0.07);
}
.article-header {
  border-left: 6px solid #eee;
  padding: 15px 8.2em 15px 25px;
}
.article-header:hover {
  border-left: 5px solid #9c9;
}
.article-info li:hover {
  background: none;
}
.article-info-index.article-info {
  padding-top: 20px;
  margin: 30px 30px 0 30px;
  border-top: 1px solid #ddd;
}
.article-info-post.article-info {
  padding: 0;
  border: none;
  margin: -30px 0 20px 30px;
}
.article-entry {
  line-height: 1.65em;
  padding: 0 2em;
  font-size: 1rem;
}
.article-entry blockquote {
  padding: 0.4em 20px;
  margin: 0.5em auto;
  border-left: 4px solid rgba(147,181,224,0.4);
  background: rgba(255,255,255,0.4);
}
.article-entry blockquote p {
  margin: 0.4em auto;
}
.article-entry blockquote blockquote {
  border-left: none;
}
.article-entry blockquote footer {
  font-style: italic;
}
.article-entry blockquote footer cite::before {
  content: "—";
  padding: 0 0.3em;
}
.article-entry a:hover {
  text-decoration: underline;
  color: #9c9;
}
.article-entry p {
  margin: 0.85em auto;
  line-height: 1.7;
}
.article-entry em {
  font-style: italic;
}
.article-entry video {
  max-width: 100%;
}
.article-entry strong {
  font-weight: bold;
}
.article-entry .caption {
  display: block;
  font-size: 0.8em;
  color: #aaa;
}
.article-entry hr {
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
.article-entry .table-area {
  overflow: auto;
}
.article-entry table {
  width: 100%;
  max-width: 65em;
  border: 1px solid #dedede;
  margin: 15px auto;
  border-collapse: collapse;
  empty-cells: show;
}
.article-entry table tr,
.article-entry table td {
  height: 35px;
}
.article-entry table th {
  font-weight: bold;
  text-align: center;
  background: rgba(158,188,226,0.2);
  white-space: nowrap;
}
.article-entry table tbody tr:hover {
  background: #efefef;
}
.article-entry table td,
.article-entry table th {
  border: 1px solid #dedede;
  padding: 0 10px;
}
.article-entry table tr:nth-child(2n) {
  background: rgba(158,188,226,0.12);
}
.article-entry table td:nth-child(1) {
  white-space: nowrap;
}
.article-entry li {
  margin: 0.1em;
  font-size: 1rem;
}
.article-entry ul,
.article-entry ol {
  margin: 10px 0;
}
.article-entry ul li.task-list,
.article-entry ol li.task-list {
  list-style: none;
  margin-left: 0;
}
.article-entry ul li.task-list::before,
.article-entry ol li.task-list::before {
  display: none;
}
.article-entry li ul,
.article-entry li ol {
  margin-left: 30px;
}
.article-entry ul > li:before {
  content: "";
  background: #dedede;
}
.article-entry ul > li:before {
  display: inline-block;
  content: "";
  width: 0.4em;
  height: 0.4em;
  margin-right: 0.5em;
  margin-bottom: 0.11em;
  border: 1px solid #d3d3d3;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #d3d3d3;
}
.article-entry h1 {
  margin-top: 30px;
}
.article-entry h2 {
  margin: 0.5em auto;
  color: #9c9;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.article-entry h2:hover {
  color: #88acdb;
}
.article-entry h2::before,
.article-entry h2::after {
  content: " —— ";
  font-family: Arial;
}
.article-entry h3 {
  margin: 0.5em auto;
  color: #438aac;
  background: rgba(243,248,253,0.6);
  border: 1px solid #d2e8fa;
  padding: 0.2em 0.6em;
}
.article-entry h3:hover a {
  text-decoration: underline;
}
.article-entry h3::after {
  content: " >";
}
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  margin-top: 20px;
  color: #574c4c;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.article-entry figure table {
  border: none;
  width: auto;
  margin: 0;
}
.article-entry figure table tbody tr:hover {
  background: none;
}
.article-meta {
  position: absolute;
  right: 0;
  top: 23px;
  width: 8rem;
  font-size: 0.875rem;
  text-align: center;
  z-index: 1;
}
.article-meta time {
  color: #aaa;
}
.article-meta time:before {
  margin-top: 0px;
  margin-right: 4px;
  content: "\f073";
  font: 1em FontAwesome;
  color: #999;
}
.article-more-link {
  float: right;
  margin-top: 5px;
}
.article-more-link a {
  padding: 2px 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #88acdb;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1em;
  white-space: nowrap;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  transition: background 0.3s;
  opacity: 0.75;
}
.article-more-link a:hover {
  background: #9c9;
  opacity: 1;
}
.article-more-link a.hidden {
  visibility: hidden;
}
.article-more-link:hover {
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}
#article-nav {
  display: table;
  width: 100%;
  height: 2.5em;
  margin: 1em auto;
  font-size: 1rem;
  background: rgba(158,188,226,0.75);
}
#article-nav:hover {
  background: #93b5e0;
}
.article-nav-title {
  display: table-cell;
  vertical-align: middle;
}
.article-nav-title a {
  color: #fff;
}
.article-nav-title a:hover {
  font-style: italic;
}
#article-nav-older {
  padding-right: 1em;
  text-align: right;
}
#article-nav-older::after {
  padding-left: 0.5em;
  content: "→";
  color: #fff;
  font-weight: bold;
  font-family: Calibri;
}
#article-nav-newer {
  padding-left: 1em;
  text-align: left;
}
#article-nav-newer::before {
  padding-right: 0.5em;
  content: "←";
  color: #fff;
  font-weight: bold;
  font-family: Calibri;
}
#intro {
  display: inline;
  font-weight: normal;
  font-size: inherit;
  opacity: 0;
  color: #fff;
}
#intro::before,
#intro::after {
  content: none;
}
li:hover {
  background: rgba(158,188,226,0.21);
}
.article-entry > ol:last-child > li:nth-child(2n) {
  background: rgba(158,188,226,0.12);
}
.article-entry > ol:last-child li {
  word-break: break-all;
}
.article-entry > ol:last-child li:hover {
  background: #f0f0f0;
}
#tocButton {
  position: fixed;
  border: none;
  left: 220px;
  top: 385px;
  background: none;
  font-size: 0.9em;
  font-weight: bold;
  color: #d3d3d3;
  cursor: pointer;
  font-family: inherit;
  outline: none; /*Remove button border when clicked.*/
  -webkit-appearance: none; /*Remove iOS button style*/
}
#tocButton:hover {
  color: #88acdb;
}
.toc-article {
  position: fixed;
  width: 230px;
  top: 378px;
  bottom: 1em;
  left: 0;
  margin-left: 0em;
  padding: 6px 10px 10px 50px;
  -webkit-border-radius: 2.8%;
  border-radius: 2.8%;
  overflow: auto;
}
#toc {
  float: right;
  font-size: 0.9rem;
  line-height: 1.65em;
}
#toc a {
  color: #808080;
}
#toc a:visited {
  color: #f48385;
}
#toc a:hover {
  color: #88acdb;
  text-decoration: none;
}
#toc li:hover {
  background: none;
}
#toc li:hover li:hover {
  background: rgba(158,188,226,0.21);
}
#toc .toc-title {
  font-weight: bold;
  color: #808080;
}
#toc .toc {
  padding: 0.7em;
  padding-right: 0;
}
#toc .toc li {
  list-style-type: none;
}
#toc ol {
  margin-left: 0;
}
#toc .toc-child {
  padding-left: 1.25em;
  margin: 4px 0;
}
#toc .toc-link:hover {
  background: rgba(158,188,226,0.21);
}
.copyright {
  width: 85%;
  max-width: 45em;
  margin: 1.2em auto 0;
  padding: 0.5em 1.8em;
  border: 1px solid #d3d3d3;
  font-size: 0.93rem;
  line-height: 1.6em;
  word-break: break-all;
  background: rgba(255,255,255,0.4);
}
.copyright span {
  display: inline-block;
  width: 5.8em;
  color: #b5b5b5;
  font-weight: bold;
}
.copyright a {
  color: #808080;
}
.copyright a:hover {
  color: #a3d2a3;
  text-decoration: underline;
}
.copyright:hover .fa-clipboard {
  color: #000;
}
.copyright .copy-path {
  margin-left: 1em;
  width: 1em;
}
.copyright .copy-path:hover {
  color: #808080;
  cursor: pointer;
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.archives-wrap {
  position: relative;
  margin: 0 30px;
  padding-right: 1.5em;
  border-bottom: 1px solid #eee;
  background: #fff;
}
.archives-wrap:first-child {
  margin-top: 30px;
}
.archives-wrap:last-child {
  margin-bottom: 80px;
}
.archives-wrap .archive-year-wrap {
  line-height: 35px;
  width: 200px;
  position: absolute;
  padding-top: 20px;
  font-size: 1.8em;
}
.archives-wrap .archive-year-wrap a {
  color: #666;
  font-weight: bold;
  padding-left: 48px;
}
.archives {
  position: relative;
}
.archives .article-info {
  border: none;
}
.archives .archive-article {
  margin-left: 160px;
  padding: 0.5em 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #fff;
  position: relative;
}
.archives .archive-article:first-child {
  border-top: 1em;
  padding-top: 20px;
}
.archives .archive-article:last-child {
  border-bottom: none;
}
.archives .archive-article-title {
  font-size: 1.125rem;
  color: #333;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
.archives .archive-article-title:hover {
  color: #657b83;
}
.archives .archive-article-title span {
  display: block;
  color: #a8a8a8;
  font-size: 12px;
  line-height: 14px;
  height: 7px;
  padding-left: 2px;
}
.archives .archive-article-title span:before {
  display: inline-block;
  content: "“";
  font-family: serif;
  font-size: 30px;
  float: left;
  margin: 4px 4px 0 -12px;
  color: #c8c8c8;
}
.archive-article-inner .archive-article-header {
  position: relative;
}
.archive-article-inner .article-meta {
  position: relative;
  float: right;
  margin-top: -10px;
  color: #555;
  background: none;
  text-align: right;
  width: auto;
}
.archive-article-inner .article-meta .article-date time {
  color: #aaa;
}
.archive-article-inner .article-meta .archive-article-date,
.archive-article-inner .article-meta .article-tag-list {
  margin-right: 1em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  color: #666;
  font-size: 14px;
}
.archive-article-inner .article-meta .archive-article-date {
  cursor: default;
  font-size: 0.875rem;
  margin-bottom: 5px;
  margin-top: -10px;
}
.archive-article-inner .article-meta .archive-article-date time:before {
  content: "\f073";
  color: #999;
  position: relative;
  margin-right: 10px;
  font: 16px FontAwesome;
}
.archive-article-inner .article-meta .article-category:before {
  float: left;
  margin-top: 1px;
  left: 15px;
}
.archive-article-inner .article-meta .article-category .article-category-link {
  width: auto;
  max-width: 83px;
  padding-left: 10px;
}
.archive-article-inner .article-meta .article-tag-list {
  margin-top: 0px;
}
.archive-article-inner .article-meta .article-tag-list:before {
  left: 15px;
}
.archive-article-inner .article-meta .article-tag-list .article-tag-list-item {
  display: inline-block;
  width: auto;
  max-width: 83px;
  padding-left: 8px;
  font-size: 12px;
}
.archives-wrap {
  background: rgba(255,255,255,0.4);
}
.archives-wrap .archives {
  background: transparent;
}
.article-entry pre,
.article-entry .highlight {
  background: rgba(249,249,249,0.5);
  margin: auto;
  padding: 0.35em 1.5em;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  overflow: auto;
  color: #4d4d4c;
  line-height: 1.3rem;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #d3d3d3;
  font-size: 0.85rem;
}
.article-entry pre,
.article-entry code {
  font-family: Menlo, Consolas, "Source Code Pro", Inconsolata, Monaco, monospace, "Arial", "SimHei", "Microsoft YaHei", "STXihei", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "WenQuanYi Micro Hei";
  font-size: 1em;
}
.article-entry pre code {
  text-shadow: none;
  padding: 0;
  background: none;
  color: #4d4d4c;
}
.article-entry .highlight {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  max-height: 50em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  overflow: auto;
}
.article-entry .highlight pre {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #8e908c;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 1em;
}
.article-entry .highlight .line {
  line-height: 1.3rem;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: rgba(249,249,249,0.5);
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: Menlo, Consolas, "Source Code Pro", Inconsolata, Monaco monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: rgba(249,249,249,0.5);
  color: #8e908c;
  font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
.article-entry code {
  color: #808080;
  background: rgba(248,237,223,0.5);
  padding: 0.05em 0.3em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
pre .comment,
pre .title {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
#footer {
  font-size: 0.8em;
  font-family: "Arial", "SimHei", "Microsoft YaHei", "STXihei", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "WenQuanYi Micro Hei", sans-serif;
  text-shadow: 0 1px #fff;
  position: absolute;
  bottom: 20px;
  opacity: 0.75;
  width: 100%;
  text-align: center;
}
#footer .outer {
  padding: 0 30px;
}
#footer .fa-heart {
  color: #f00;
  -webkit-animation-duration: 1.1s;
  -moz-animation-duration: 1.1s;
  -ms-animation-duration: 1.1s;
  animation-duration: 1.1s;
}
.footer-left {
  float: left;
}
.footer-right {
  float: right;
}
.share {
  padding-left: 40px;
  margin: 1em auto 0.5em;
  opacity: 0.75;
}
.share:hover {
  opacity: 1;
}
.bdsharebuttonbox a,
.bdsharebuttonbox .bds_more {
  width: 30px;
  height: 30px !important;
  line-height: 30px !important;
  text-align: center;
  padding-left: 0 !important;
  font-size: 20.400000000000002px !important;
  text-decoration: none;
  color: #fff !important;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(0,0,0,0.3);
}
.bdsharebuttonbox a:hover,
.bdsharebuttonbox .bds_more:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #fff !important;
}
.bdsharebuttonbox .bds_tsina {
  background: #db332f !important;
}
.bdsharebuttonbox .bds_sqq {
  background: #1cbcef !important;
}
.bdsharebuttonbox .bds_copy {
  background: #8f8f8f !important;
}
.bdsharebuttonbox .bds_mail {
  background: #6fc0e4 !important;
}
.bdsharebuttonbox .bds_weixin {
  background: #8cdc49 !important;
}
.bdsharebuttonbox .bds_more {
  background: #8cbcf5 !important;
}
.bdsharebuttonbox .bds_twi {
  background: #21abf4 !important;
}
#page-nav {
  text-align: center;
  margin-top: 30px;
}
#page-nav .page-number {
  width: 20px;
  height: 20px;
  background: #4d4d4d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  line-height: 20px;
  font-size: 12px;
  margin: 0 3px 30px;
}
#page-nav .page-number:hover {
  background: #5e5e5e;
}
#page-nav .current {
  background: #88acdb;
  cursor: default;
}
#page-nav .current:hover {
  background: #88acdb;
}
#page-nav .extend {
  color: #4d4d4d;
  margin: 0 27px;
  opacity: 0;
}
#page-nav .extend:hover {
  color: #5e5e5e;
}
#page-nav:hover .extend {
  opacity: 1;
}
#post-instagram {
  padding: 30px;
}
#post-instagram .article-entry {
  padding-right: 0;
}
.instagram {
  position: relative;
  min-height: 500px;
}
.instagram .open-ins {
  display: block;
  padding: 10px 0;
  position: absolute;
  right: 28px;
  top: -75px;
  color: #333;
}
.instagram .open-ins:hover {
  color: #657b83;
}
.instagram .year {
  display: inline;
}
.instagram .album h1 em {
  font-style: normal;
  font-size: 14px;
  margin-left: 10px;
}
.instagram .album ul {
  min-height: 149px;
  padding-top: 17px;
  border-bottom: 1px solid #ddd;
  list-style: none;
}
.instagram .album li {
  position: relative;
  display: inline-block;
  min-width: 157px;
  margin: 0;
}
.instagram .album li:before {
  display: none;
}
.instagram .album div.img-box {
  position: relative;
  margin: 0 20px 10px;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 1px 0 1px rgba(255,255,255,0.1);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 1px 0 1px rgba(255,255,255,0.1);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 1px 0 1px rgba(255,255,255,0.1);
  box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 1px 0 1px rgba(255,255,255,0.1);
}
.instagram .album div.img-box .img-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  width: 100%;
  margin: -5px;
  padding: 5px;
  background: rgba(204,204,204,0.8);
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 1px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 1px 5px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 1px 5px rgba(0,0,0,0.1);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 1px 5px rgba(0,0,0,0.1);
  -webkit-transition: all 0.15s ease-out 0.1s;
  -moz-transition: all 0.15s ease-out 0.1s;
  -o-transition: all 0.15s ease-out 0.1s;
  -webkit-transition: all 0.15s ease-out 0.1s;
  -moz-transition: all 0.15s ease-out 0.1s;
  -ms-transition: all 0.15s ease-out 0.1s;
  transition: all 0.15s ease-out 0.1s;
  opacity: 0.2;
  cursor: pointer;
  display: block;
}
.instagram .album div.img-box .img-bg:hover {
  opacity: 0;
}
.instagram .album div.img-box img {
  width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 600px) {
  .instagram .album ul {
    margin-left: 0;
    padding: 0;
    text-align: center;
  }
  .instagram .album li {
    max-width: 300px;
  }
  .instagram .album div.img-box {
    margin: 0;
  }
}
.switch-btn {
  margin: 0 auto;
  margin-top: 23px;
  position: relative;
  width: 70px;
  text-align: center;
}
.switch-btn .tips-box {
  position: relative;
}
.switch-btn .tips-box .tips-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid #000;
  opacity: 0.8;
  position: absolute;
  top: -6px;
  left: 30px;
}
.switch-btn .tips-box .tips-inner {
  padding: 5px 8px 4px 8px;
  background-color: #000;
  color: #fff;
  width: 80px;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  opacity: 0.8;
  position: absolute;
  z-index: 99;
  left: -13px;
}
.switch-btn .tips-box .tips-inner li {
  padding: 4px 0;
  cursor: pointer;
  font-size: 0.8125rem;
  line-height: 1.15;
  color: #ddd;
}
.switch-btn .tips-box .tips-inner li:hover {
  background: #111;
}
.switch-btn .icon {
  height: 32px;
  width: 32px;
  background: #cecece;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 10px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
  cursor: pointer;
}
.switch-btn .icon-ctn {
  width: 34px;
  height: 34px;
  position: relative;
  overflow: hidden;
}
.switch-btn .icon-ctn .birdhouse {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: transparent transparent #4d4d4d transparent;
  border-width: 0 16px 14px;
}
.switch-btn .icon-ctn .birdhouse:after {
  content: '';
  position: absolute;
  top: 12px;
  left: -12px;
  border-style: solid;
  border-color: #4d4d4d transparent transparent transparent;
  border-width: 100px 12px;
}
.switch-btn .icon-ctn .birdhouse_holes {
  width: 12px;
  height: 12px;
  background: #ddd;
  position: absolute;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  left: 10px;
  top: 8px;
}
.switch-btn .icon-ctn .birdhouse_holes:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: #ccc;
  bottom: -8px;
  left: 4px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}
.switch-btn .icon-ctn .ribbon {
  width: 12px;
  height: 20px;
  background: #333;
  margin: 2px 0 0 10px;
}
.switch-btn .icon-ctn .ribbon:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 16px;
  width: 0;
  height: 0;
  border: solid #333;
  border-color: transparent #333 transparent #333;
  border-width: 6px 6px 8px 6px;
}
.switch-btn .icon-ctn .loopback_l {
  width: 10px;
  height: 5px;
  border-style: solid;
  border-width: 0px 3px 3px 3px;
  border-color: #333;
  -webkit-border-radius: 0 0 50px 50px;
  border-radius: 0 0 50px 50px;
  position: absolute;
  top: 16px;
  left: 1px;
}
.switch-btn .icon-ctn .loopback_l:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px;
  border-color: transparent transparent transparent #333;
  bottom: 7px;
  left: 5px;
}
.switch-btn .icon-ctn .loopback_l:after {
  content: '';
  width: 5px;
  height: 5px;
  border-style: solid;
  border-width: 3px 0 0 3px;
  border-color: #333;
  -webkit-border-radius: 50px 0 0 0;
  border-radius: 50px 0 0 0;
  position: absolute;
  left: -3px;
  bottom: 5px;
}
.switch-btn .icon-ctn .loopback_r {
  width: 10px;
  height: 5px;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #333;
  -webkit-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  position: absolute;
  top: 8px;
  right: 2px;
}
.switch-btn .icon-ctn .loopback_r:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px;
  border-color: transparent #333 transparent transparent;
  top: 7px;
  right: 5px;
}
.switch-btn .icon-ctn .loopback_r:after {
  content: '';
  width: 5px;
  height: 5px;
  border-style: solid;
  border-width: 0 3px 3px 0;
  border-color: #333;
  -webkit-border-radius: 0 0 50px 0;
  border-radius: 0 0 50px 0;
  position: absolute;
  left: 5px;
  top: 5px;
}
.switch-btn .icon-ctn .user {
  width: 12px;
  height: 14px;
  background: #333;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  margin-left: 10px;
  margin-top: 2px;
}
.switch-btn .icon-ctn .user:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  top: 17px;
  left: 0px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
  border-width: 0 16px 6px 16px;
}
.switch-btn .icon-ctn .user:after {
  content: '';
  width: 8px;
  height: 5px;
  background: #333;
  position: absolute;
  margin-top: 13px;
  margin-left: -4px;
}
.switch-btn .icon-ctn .shoulder {
  width: 32px;
  height: 6px;
  background: #333;
  position: absolute;
  bottom: 6px;
}
#header .tagcloud a {
  color: #fff;
}
.tagcloud a {
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
  font-size: 0.75rem;
  color: #fff;
  height: 1.125rem;
  line-height: 1.125rem;
  float: left;
  padding: 0 5px 0 10px;
  position: relative;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  margin: 5px 9px 5px 8px;
  opacity: 0.75;
  font-family: "Arial", "SimHei", "Microsoft YaHei", "STXihei", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "WenQuanYi Micro Hei" "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tagcloud a.color0 {
  background: #88acdb;
}
.tagcloud a.color0::before {
  border-right-color: #88acdb;
}
.tagcloud a.color1 {
  background: #ffa07a;
}
.tagcloud a.color1::before {
  border-right-color: #ffa07a;
}
.tagcloud a.color2 {
  background: #f08080;
}
.tagcloud a.color2::before {
  border-right-color: #f08080;
}
.tagcloud a.color3 {
  background: #76becc;
}
.tagcloud a.color3::before {
  border-right-color: #76becc;
}
.tagcloud a.color4 {
  background: #918597;
}
.tagcloud a.color4::before {
  border-right-color: #918597;
}
.tagcloud a.color5 {
  background: #6fc0e4;
}
.tagcloud a.color5::before {
  border-right-color: #6fc0e4;
}
.tagcloud a.color6 {
  background: #bc8f8f;
}
.tagcloud a.color6::before {
  border-right-color: #bc8f8f;
}
.tagcloud a:hover {
  opacity: 1;
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
  background-color: #9c9;
  border-color: #9c9;
}
.tagcloud a:hover::before {
  border-right-color: #9c9;
}
.tagcloud a:before {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -1.1rem;
  border: 0.5625rem solid transparent;
}
.tagcloud a:after {
  content: " ";
  width: 4px;
  height: 4px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
  position: absolute;
  top: 0.4375rem;
  left: 2px;
}
.article-tag::before,
.article-category::before {
  float: left;
  color: #999;
  font: 16px FontAwesome;
  margin-right: 5px;
  margin-top: 0.333333333333333rem;
}
.article-tag::before {
  content: "\f02b";
  margin-left: 1em;
}
.article-category::before {
  content: "\f02d";
}
.article-pop-out {
  float: left;
}
.article-pop-out:before {
  color: #999;
  content: "\f08d";
  font: 16px FontAwesome;
  float: left;
  margin-right: 5px;
  margin-top: 0.333333333333333rem;
}
.article-pop-out:after {
  float: left;
  content: "";
  margin-right: 20px;
  margin-top: 9px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:decrement {
  display: none;
}
::-webkit-scrollbar-corner {
  display: block;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(0,0,0,0.15);
}
::-webkit-scrollbar-button:start {
  width: 10px;
  height: 10px;
  background: url("../img/scrollbar_arrow.png") no-repeat 0 0;
}
::-webkit-scrollbar-button:start:hover {
  background: url("../img/scrollbar_arrow.png") no-repeat -15px 0;
}
::-webkit-scrollbar-button:start:active {
  background: url("../img/scrollbar_arrow.png") no-repeat -30px 0;
}
::-webkit-scrollbar-button:end {
  width: 10px;
  height: 10px;
  background: url("../img/scrollbar_arrow.png") no-repeat 0 -18px;
}
::-webkit-scrollbar-button:end:hover {
  background: url("../img/scrollbar_arrow.png") no-repeat -15px -18px;
}
::-webkit-scrollbar-button:end:active {
  background: url("../img/scrollbar_arrow.png") no-repeat -30px -18px;
}
#viewer {
  position: fixed;
  z-index: 1000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#viewer-box {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  color: #ccc;
  -webkit-transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
}
#viewer-box .viewer-box-l {
  background: rgba(20,20,20,0.9);
  width: 80%;
  height: auto;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  min-width: 8em;
  max-width: 23em;
}
#viewer-box .viewer-box-l .viewer-box-wrap {
  margin: 20px 10px 0px 20px;
}
#viewer-box .viewer-box-l .viewer-title {
  line-height: 32px;
}
#viewer-box .viewer-box-l .viewer-title:before {
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid #999;
  -webkit-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #aaa;
  display: inline-block;
  margin-right: 10px;
}
#viewer-box .viewer-box-l .viewer-div {
  border-bottom: 1px dotted #666;
  padding-bottom: 13px;
  line-height: 20px;
}
#viewer-box .viewer-box-l .viewer-div:last-child {
  border-bottom: none;
}
#viewer-box .viewer-box-l .viewer-div .switch-friends-link {
  line-height: 20px;
}
#viewer-box .viewer-box-r {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: auto;
  height: auto;
  background: rgba(0,0,0,0);
}
#viewer-box .viewer-box-r:hover {
  cursor: w-resize;
}
#viewer-box.anm-swipe {
  -webkit-transform: translate3d(0, 0, 0);
}
#viewer-box.anm-swipe .viewer-box-r {
  background: rgba(0,0,0,0);
}
.hide {
  display: none;
}
#viewer-box .viewer-list {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.youyan {
  padding: 20px 40px;
}
@media (max-width: 767px) {
  .youyan {
    padding: 20px 10px;
  }
}
